body{
    display: flex; /**/
    flex-direction: column;
    gap: 10px;
}
main{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form-container{
    flex-grow: 1;
}


/*
    HEADER
*/
.orange, .light-navy, .navy{
    width: 100%;
}
.orange{
    height: 5px;
    background-color: #fcb421;
}
.light-navy{
    height: 8px;
    background-color:#64c4d2;
}
.navy{
    height: 13px;
    background-color:#1094ab;
}
header img{
    max-height: 50px;
}
/*
    NAV
*/
nav ul{
    list-style-type: none;
    padding: 0;
}
nav{
    padding: 0;
}
/*
    FORM STUFF
*/
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creditos, .super{
    width: max-content;
}