@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    --bc: #211E1F; /*#D6D6D6;*/
    --fontc: #D6D6D6; /*#211E1F;*/
    --linkc: #585858;
    
    /*Paddings and margins*/

    /*Fonts*/
    --normal-font: "Roboto Mono";
    --stand-out-font: "Roboto Condensed";
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bc);
    color: var(--fontc);
    font-family: var(--normal-font);
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
}











