/*
    FORMS
*/
input, textarea{
    background-color: var(--linkc);
}
button{
    border: none;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 5px;

    border: none;
    border-bottom: 2px solid #ccc;

    background: transparent;
    outline: none;

    font-size: 16px;
    color: #ccc;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

textarea{
    width: 100%;
    padding: 5px;

    font-family: var(--normal-font);

    margin-top: 10px;
    border: none;
    border: 1px solid #ccc;

    background: transparent;
    outline: none;

    font-size: 16px;
    color: #ccc;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input[type="password"]{
    margin-bottom: 10px;
}

input[type="submit"], button{
    padding: 10px;
    border: none;
    background-color: var(--linkc);
    border-radius: 5px;
}

.submit-entry{
    margin-bottom: 20px;
}

a{
    color: var(--linkc);
    font-size: 12px;
}